<!DOCTYPE html>
<html>
    <head>
        <title>Insert Page</title>
    </head>
    <body>
        <h1>할일 추가 입력 Insert Page</h1>
    </hr>
    <form method="post">
        <fieldset>
            <legend>INSERT DATA</legend>
            <table>
                <tr>
                    <td><label>할 일(내용)</label></td>
                    <td><input type = "text" name = "contents"/></td>
                </tr>
                <tr>
                    <td><label>완료여부</label></td>
                    <td><input type = "text" name = "yesno"/></td>
                </tr>
            </table>
            <input type="submit"/>
        </fieldset>
    </form>
    </body>
</html>